body {
    font-family: Arial, sans-serif;
    font-size: large;
    height: 100vh;
    margin: 0;
    background-color: #1a1625;
    color: #fff;
}

h1 {
    text-align: center;
}

.flashcard-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.flashcard {
    min-width: 150px;
    min-height: 100px;
    aspect-ratio: 3;
    margin: 1%;
    perspective: 1000px;
    cursor: pointer;
    box-sizing: border-box;
}

.flashcard .card-front,
.flashcard .card-back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    border: 2px solid #76737e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: font-size 0.3s ease, transform 0.3s ease;
    border-radius: 10px;
}

.card-back {
    transform: rotateY(180deg);
    background-color: #2f2b3a;

    p {
        margin: 5px 0;
    }

    .transliteration-text {
        font-size: 0.7em;
        color: #ccc;
    }
}

.card-front {
    background-color: #46424f;
}

.flipped .card-back {
    transform: rotateY(0deg);
}

.flipped .card-front {
    transform: rotateY(180deg);
}

.flashcard:hover {
    .card-front {
        font-size: 2em;
    }

    .card-back {
        font-size: 1.3em;
    }
}

@media (max-width: 768px) {
    .flashcard {
        width: 45%;
        max-width: none;
    }
}