<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Index</title>
</head>
<body>
    <h1>Arabic Practice</h1>
    <form action="{{ url_for('views.verbs') }}" method="get">
        <button type="submit">Go to Verbs</button>
    </form>
    <form action="{{ url_for('views.words') }}" method="get">
        <button type="submit">Go to Words</button>
    </form>
</body>
</html>
